.wrap_admin_login_form {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.wrap_admin_login_form h3 {
    color: #41bfab;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

input[type="submit"] {
    border: 1px solid #999;
    text-align: center;
    background-color: #01A388;
    color: white;
    text-transform: uppercase;
    margin-top: 20px !important;
}

input[type="submit"]:hover {
    border: 1px solid #999;
    text-align: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

input[type] {
    margin-top: 5px;
}